{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<head>
    <!-- CSS JC -->
        <link rel="stylesheet" href="voiture/voituresuccess.css">
</head>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container-fluid">
    <video id="background-video" autoplay loop muted>
        <source src="voiture/enroute.mp4" type="video/mp4">
    </video>
    <div class="row titre">
        <h1>Let's Ride!</h1>           
    </div>
    <a class="btn btn-danger homebutton" href="/" role="button">Retour à l'acceuil</a>
</div>
{% endblock %}
