body{
    background-image: url("challengerorange3.jpg");    
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome{
    text-align: center;
    color: rgb(232, 134, 15);
    font-family: "Inter", sans-serif;
	font-size: 35px ;  
	font-weight: 900;
}

#voiture{
    color: rgb(232, 134, 15);
    margin-top: 2%;
    margin-right: 9%;
    float: right;
    font-size: 20px ;  
	font-weight: 900;
    height: 400px;
    width: 300px;
}

#voiture_record {
    margin-top: 7%;
    margin-left: 17%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 35px;
    border: 1px solid #b36200;
    border-radius: 8px;
    background: #ffa100;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffa100), to(#de9649));
    background: -moz-linear-gradient(top, #ffa100, #de9649);
    background: linear-gradient(to bottom, #ffa100, #de9649);
    -webkit-box-shadow: #ffa800 0px 0px 40px 0px;
    -moz-box-shadow: #ffa800 0px 0px 40px 0px;
    box-shadow: #ffa800 0px 0px 40px 0px;
    text-shadow: #804600 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
#voiture_record:hover,
#voiture_record:focus {
    border: 1px solid #ff8c00;
    background: #ffc100;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffc100), to(#ffb458));
    background: -moz-linear-gradient(top, #ffc100, #ffb458);
    background: linear-gradient(to bottom, #ffc100, #ffb458);
    color: #ffffff;
    text-decoration: none;
}
#voiture_record:active {
    background: #b36200;
    background: -webkit-gradient(linear, left top, left bottom, from(#b36200), to(#de9649));
    background: -moz-linear-gradient(top, #b36200, #de9649);
    background: linear-gradient(to bottom, #b36200, #de9649);
}

